<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207154195968-4n6rob6du470iokg2i74cn4qhidqogg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207154195968-4n6rob6du470iokg2i74cn4qhidqogg0</string>
	<key>API_KEY</key>
	<string>AIzaSyA4Llm15p2u0n8IoyMQ0FAZEWXTiUXUMBU</string>
	<key>GCM_SENDER_ID</key>
	<string>207154195968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leotech.bwc</string>
	<key>PROJECT_ID</key>
	<string>burwood-chinatown</string>
	<key>STORAGE_BUCKET</key>
	<string>burwood-chinatown.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207154195968:ios:a030bf7bdf02c6562832e5</string>
	<key>DATABASE_URL</key>
	<string>https://burwood-chinatown.firebaseio.com</string>
</dict>
</plist>